@model List<Person>

@{
    ViewData["Title"] = "Male Persons";
}

<h1>Male Persons</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Phone Number</th>
            <th>Birth Place</th>
            <th>Age</th>
            <th>Is Graduate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Gender</td>
                <td>@person.Dob.ToShortDateString()</td>
                <td>@person.PhoneNumber</td>
                <td>@person.BirthPlace</td>
                <td>@person.Age</td>
                <td>@person.IsGraduated</td>
            </tr>
        }
    </tbody>
</table>