@using X.PagedList.Mvc.Core
@using X.PagedList
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model IPagedList<Category>

@{
    Layout = "_SuperUserLayout";
    ViewData["Title"] = "Category Page";

}

<h1>This is list of category</h1>
<form asp-action="Index" method="get">
    <input type="text" name="searchTerm" placeholder="Search books..." />
    <input type="submit" value="Search" />
</form>
<p>
    <a asp-action="Create">Add new category</a>
</p>
<form asp-action="Logout" asp-controller="Account" method="post">
    <input type="submit" value="Logout" />
</form>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().CategoryName)</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.CategoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }) |
            </td>
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Home Page</a>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page })) 