@using X.PagedList.Mvc.Core
@using X.PagedList
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using X.PagedList.Web.Common

@model IPagedList<Book>

@{
    Layout = "_SuperUserLayout";
    ViewData["Title"] = "Book Page";
}
<style>
    .pagination li a {
        border: 1px solid #ddd; /* Gray */
        margin: 0 4px;
        padding: 10px 12px;
        text-decoration: none;
        transition: background-color .3s;
    }

    .pagination li.active a {
        background-color: #4CAF50; /* Green */
        color: white;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Index" method="get">
            <input type="text" name="searchTerm" placeholder="Search books..." />
            <input type="submit" value="Search" />
        </form>
    </div>
    <div class="col-md-6" style="left: 295px; width: 200px">
            <form asp-action="Create" method="get">
                <button type="submit" class="btn btn-success" style="width: 100px">
                <i class="bi bi-plus-square-fill"></i>
            </button>
        </form>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().Title)</th>
        <th>@Html.DisplayNameFor(model => model.First().Author)</th>
        <th>@Html.DisplayNameFor(model => model.First().ISBN)</th>
        <th>@Html.DisplayNameFor(model => model.First().Category.CategoryName)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td>@Html.DisplayFor(modelItem => item.ISBN)</td>
            <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
            <td>
                <a href="@Url.Action("ShowBorrowers", "BorrowingRequest", new { id = item.BookId })" class="btn btn-primary">
                    <i class="bi bi-eye-fill"></i> 
                </a>
                <a href="@Url.Action("Update", "Book", new { id = item.BookId })" class="btn btn-warning">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <a href="@Url.Action("Delete", "Book", new { id = item.BookId })" class="btn btn-danger">
                    <i class="bi bi-x-lg"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchTerm = ViewBag.SearchTerm }), 
    new PagedListRenderOptions
    { 
        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        LinkToFirstPageFormat = "<< First",
        LinkToPreviousPageFormat = "< Previous",
        LinkToNextPageFormat = "Next >",
        LinkToLastPageFormat = "Last >>",
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false
    })

    <div class="text-center mt-3">
        <a asp-action="ViewBorrowingRequests" asp-controller="BorrowingRequest" class="btn btn-primary">Back to Home Page</a>
    </div>