@using X.PagedList.Mvc.Core
@using X.PagedList
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using X.PagedList.Web.Common

@model IPagedList<BookViewModel>

@{
    Layout = "_NormalUserLayout";
    ViewData["Title"] = "Borrowed Books Page";
}
<head>
    <style>
    .pagination li a {
        border: 1px solid #ddd; /* Gray */
        margin: 0 4px;
        padding: 10px 12px;
        text-decoration: none;
        transition: background-color .3s;
    }
    
    .pagination li.active a {
        background-color: #4CAF50; /* Green */
        color: white;
    }
        </style>
</head>
<form asp-action="GetBorrowedBooks" method="get">
    <input type="text" name="searchTerm" placeholder="Search books by title or author..." />
    <input type="submit" value="Search" />
</form>
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().Title)</th>
        <th>@Html.DisplayNameFor(model => model.First().Author)</th>
        <th>@Html.DisplayNameFor(model => model.First().ISBN)</th>
        <th>@Html.DisplayNameFor(model => model.First().Status)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td>@Html.DisplayFor(modelItem => item.ISBN)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
        </tr>
    }
    </tbody>
</table>
<div class="text-center mt-3">
    <a asp-action="Index" asp-controller="BorrowingRequest" class="btn btn-primary">Back to Home Page</a>
</div>
@Html.PagedListPager(Model, page => Url.Action("GetBorrowedBooks", new { page }), 
    new PagedListRenderOptions 
    { 
        DisplayLinkToFirstPage = PagedListDisplayMode.Always, 
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        LinkToFirstPageFormat = "<< First",
        LinkToPreviousPageFormat = "< Previous",
        LinkToNextPageFormat = "Next >",
        LinkToLastPageFormat = "Last >>",
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false
    })