@using X.PagedList.Mvc.Core
@using X.PagedList
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model IPagedList<Book>

@{
    Layout = "_NormalUserLayout";
    ViewData["Title"] = "Viewing Book Page";
}
<h1>This is list of book</h1>
<form asp-action="Index" method="get">
    <input type="text" name="searchTerm" placeholder="Search books..." />
    <input type="submit" value="Search" />
</form>
@* <p> *@
@*     <a asp-action="CreateBorrowingRequest" asp-controller="BorrowingRequests">Request Borrowing</a> *@
@* </p> *@
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.First().Title)</th>
        <th>@Html.DisplayNameFor(model => model.First().Author)</th>
        <th>@Html.DisplayNameFor(model => model.First().ISBN)</th>
        <th>@Html.DisplayNameFor(model => model.First().Category.CategoryName)</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td>@Html.DisplayFor(modelItem => item.ISBN)</td>
            <td>@Html.DisplayFor(modelItem => item.Category.CategoryName)</td>
            @* <td> *@
            @*     @if (ViewBag.BooksInRequest.Contains(item.BookId)) *@
            @*     { *@
            @*         @Html.ActionLink("Add to request", "AddBookToBorrowingRequest", "BorrowingRequest", new { id = item.BookId }) *@
            @*     } *@
            @*     else *@
            @*     { *@
            @*         @Html.ActionLink("Remove from request", "RemoveBookFromBorrowingRequest","BorrowingRequest", new { id = item.BookId }) *@
            @*     } *@
            @* </td> *@
        </tr>
    }
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="BorrowingRequest">Back to Home Page</a>
</div>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
