@using X.PagedList.Mvc.Core
@using X.PagedList
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using X.PagedList.Web.Common

@model IPagedList<Book>
@{
    Layout = "_NormalUserLayout";
    ViewData["Title"] = "Viewing Book Page";
}
<style>
    .pagination li a {
        border: 1px solid #ddd; 
        margin: 0 4px;
        padding: 10px 12px;
        text-decoration: none;
        transition: background-color .3s;
    }
    
    .pagination li.active a {
        background-color: #4CAF50; 
        color: white;
    }
    .pagination li a {
        border: 1px solid #ddd; 
        margin: 0 4px;
        padding: 10px 12px;
        text-decoration: none;
        transition: background-color .3s;
    }
    
    .pagination li.active a {
        background-color: #4CAF50; 
        color: white;
    }
    .book-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .book-item {
        flex: 1 0 20%; 
        margin: 10px;
        box-sizing: border-box;
    }
    .book-item img {
        width: 100%;
        max-width: 200px; 
        height: 150px;
    }
</style>
<form asp-action="Index" method="get">
    <input type="text" name="searchTerm" placeholder="Search books..." />
</form>
<br/>
<form asp-action="CreateBorrowingRequest" asp-controller="BorrowingRequest" method="post">
    <input type="submit" value="Request Borrowing" class="btn btn-success" />
</form>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}
@if (TempData["Warning"] != null)
{
    <div class="alert alert-danger">@TempData["Warning"]</div>
}
<div class="book-container">
    @foreach (var item in Model)
    {
        <div class="book-item">
            <a href="@Url.Action("Details", "Book", new { id = item.BookId })" method ="get">
                <div class="book-item">
                    <img src="@item.Cover" alt="Cover of @item.Title" />  
                    <div>@item.Title</div>
                </div>
            </a>
        </div>
    }
</div>
<div class="text-center mt-3">
    <a asp-action="Index" asp-controller="BorrowingRequest" class="btn btn-primary">Back to Home Page</a>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchTerm = ViewBag.SearchTerm }), 
    new PagedListRenderOptions 
    { 
        DisplayLinkToFirstPage = PagedListDisplayMode.Always, 
        DisplayLinkToLastPage = PagedListDisplayMode.Always,
        LinkToFirstPageFormat = "<< First",
        LinkToPreviousPageFormat = "< Previous",
        LinkToNextPageFormat = "Next >",
        LinkToLastPageFormat = "Last >>",
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false
    })

